/dist/
/build/
annotation-plugin.jar
.factorypath
.classpath
/docs/
input
/lib/
/report/
ivy/*.jar
ivy/pom.xml
/test-output/
.pigunit-input-overriden.txt.crc
pigunit-input-overriden.txt
*.asc
/bin/
.ant-targets-build.xml
